html { height: 100% }

body{
font-family:Arimo, helvetica, arial, sans-serif;
margin:0;
height: 100%;
}

#ui-page-start, #ui-page-start > .ui-content { height: 100% }
#map-canvas { width: 100%; height: 100% }

a img{
	border:none;
}

h1.logo{
  background:#333 url(../images/bikesy-mobile-logo.png) 0 0 no-repeat;
  height:57px;
  text-indent:-9009px;
  margin:0;
  padding:0;
}

.error{
  border-color:#b22828 !important;
  background-color:#ffd5d5 !important;
}

#inputs{
  position:relative;
}

#inputs label{
  font-size:20px;
  line-height:26px;
  margin-bottom:2px;
  margin-top:5px;
}

.geolocationwaiting{
  background: url(../images/loading.gif) 0 0 no-repeat;
  width:43px;
  height:11px;
  position:absolute;
  left:16px;
  top:45px;
  display:none;
}

html.landscape .geolocationwaiting{
  left: 23%;
  top: 14px;
}

.ui-select{
  margin-bottom:20px;
}

.geolocation{
  text-align:right;
  margin:0;
  font-size:11px;
}

.geolocation a{
  text-decoration:none;
}

#map{
  overflow-y:hidden;
}

.portrait #profile{
  height:100px;
}

.landscape #profile{
  height:0px;
  overflow:hidden;
}

#map_canvas{
    text-shadow:none;
}

#map-buttons{
  position:absolute;
	top:79px;
	right:115px;
}

.map-button{
	overflow-x: hidden; 
	overflow-y: hidden; 
	text-align: center; 
	-webkit-user-select: none; 
	font-size: 12px; 
	line-height: 160%; 
	padding: 0px 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
	box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
	min-width: 47px; 
	color: black; 
	border-width: 1px;
	border-style: solid;
	border-color: rgb(169, 187, 223);
	border-radius: 2px 2px;
	font-weight: normal; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254, 254, 254)), to(rgb(243, 243, 243))); 
	background-attachment: initial; 
	background-origin: initial; 
	background-clip: initial; 
	background-color: initial; 
	background-position: initial initial; 
	background-repeat: initial initial;
	display:inline-block;
}

.map-button a{
	display:block;
	color:#000;
  text-decoration:none;
  text-shadow:none;
}

#directionsname{
  margin:0;
}

#resultsBox .totaldistance{
  width:90px;
  display:inline-block;
}

#resultsBox .time{
  width:140px;
  display:inline-block;
}

#resultsBox .elevGain{
  width:100px;
  display:inline-block;
}

.safe{
  color: #ED817E !important;
  //coloron="#c2403a";
}

.safer{
  color: #ecf869 !important;
  //coloron="#fff600";
}

.safest{
  color: #90ff7a !important;
  //coloron="#10dd00";
}

.disclaimer{
  font-size:10px;
}

#directionslist ol{
  margin-top:10px;
}

#directionslist li{
  padding:5px;
  border-bottom:1px solid #eee;
}
