body{
font-family:helvetica, arial, sans-serif;
margin:0;
color: #666;
}

a:link, a:visited{
text-decoration:none;
color: #666;
}

a:hover{
	text-decoration:none;
	border-bottom:#999 dotted 1px;
}

a img{
	border:none;
}
#logo2{
padding-left:10px;
padding-top:10px;



}
h1.logo {
height:60px;
text-indent:-9009px;
background:url(../images/bikesy-logo.png) center 5px no-repeat;
margin:3px 0 0 3px;
}

h1.logo a{
	display:block;
	width: 166px;
	height:75px;
}

#header .logo img {
	border:0;
}

ul.input_boxes{
display:none;
visibility:hidden;
	padding:0;
	margin:0;
	position:relative;
	font-size:12px;
}

ul.input_boxes li{
	list-style-type:none;
	padding:4px 0;
	margin:0;
	font-weight:bold;
	clear:both;
}

ul.input_boxes li.inputbox{
	width:245px;
	padding:0;
}

ul.input_boxes li.geolocation{
	display:none;
	font-size:12px; 
	font-weight:normal;
	padding:0 0 0 29px;
}

ul.input_boxes li.geolocation img{
	vertical-align:middle;
}

ul.input_boxes li.geolocation a{
	color: red;
	padding-left:2px;
}

ul.input_boxes li .textbox{
	width: 210px;
	margin:0;
}

ul.input_boxes #hillsline{
	padding-top:3px;
}

ul.input_boxes #hillsline label{
	width:100px;
	float:left;
	padding-top:3px;
	font-size:13px;
}

ul.input_boxes #hillsline select{
	float:right;
	width:150px;
	margin-right:2px;
}

.icon{
	height:24px;
	width:24px;
	vertical-align:middle;
}


#swap{
	cursor:pointer;
	position:absolute;
	top:15px;
	right:5px;
}

#content{
	position:relative;
	
}

#sidebar{
float:left;
left:0;
	position:absolute;
	
}

#sidebar #inputs{
	padding-left:5px;
}

#submit{
	margin-right:5px;
	margin-bottom:5px;
}

#summary{
	padding:0 6px;
	overflow:visible;
	display:none;
	height:110px;
}

#summary div{
display:none;
	border:1px solid #ccc;
	cursor:pointer;
	overflow:hidden;
}

#summary .title{
	padding:5px;
	border:none;
	margin:0;
	width:150px;
	float:left;
	font-weight:bold;
}

#summary .info{
	padding:3px;
	border:none;
	margin:0;
	width:100px;
	float:right;
	text-align:right;
	font-size:11px;
}

#sidebar #resultsBox{
float:left;
position:absolute;
	
	margin-top:820px;
	font-size:14px;
	display:block;
	
	overflow:visible;
	
}

#sidebar .stats{
	clear:both;
}

#sidebar .stats .title {

	font-weight:bold;
	color: #000;
}

#sidebar .stats div{

	margin-top:3px;
}

#sidebar .stats a{
	color:#666;
}

#sidebar .stats img{
	border:none;
	height:12px;
	width:12px;
}

#directions{

	padding:5px 5px 0 5px;
	font-size:11px;
	overflow:visible;
	width:500px;
	
}

#directions ol{
	list-style-type:decimal;
	margin-top:0;
}

#directions li{

	padding:3px 0;
	border-bottom:1px solid #ddd;
	margin-left:-20px;
	padding-left:-20px;
	cursor:pointer;
	overflow:visible;
	
}

#directions li:last-of-type{
	border-bottom:none;
}

#disclaimer{
display:none;
	padding:0 5px 10px 5px;
	font-size:10px;
}

/* MAP */

#map_wrapper{
	clear:both;
	border-left: solid 1px #999999;
	margin-left:0px;
	color:#000;
	font-size:11px;
	
	
	
}

#map_wrapper a:hover{
	border:none;
}

.map-button{
	color:#0000cc;
	text-align:center;
	background-color:#FFF;
	border:1px solid #000;
	margin:3px;
	visibility:hidden;
	display:none;
}

.map-button img{
	vertical-align:top;
}

.map-button a{
	color:#000;
	display:block;
	padding:2px;
}

#permalink{
display:none;
visibility:hidden;
	position:absolute;
	top:30px;
	right:85px;
	width:11em;
	display:none;
}

#twitter{
display:none;
visibility:hidden;
	position:absolute;
	top:30px;
	right:5px;
	width:7em;
	display:none;
}

#map_canvas{
margin-top:60px;
margin-left:0px;
float:left;
width:100%;
position:absolute;
min-height:500px;
z-index:999999;
}

#map_canvas .message {
display:none;
visibility:hidden;
	font-size:14px;
}

#map_canvas a {
	color:#5b5b68;
	text-decoration:none;
}

#map_canvas a {
	text-decoration:underline;
}

.popup{
visibility:hidden;
	position:absolute; 
	display:none;
	width:240px;
	border:1px solid #fff;
	background:#000 url(../images/tip.png) 10px 50% no-repeat;
	filter:alpha(opacity=80);   /* Internet Explorer       */
   	-moz-opacity:0.8;           /* Mozilla 1.6 and below   */
   	opacity: 0.8;               /* newer Mozilla and CSS-3 */
 	text-align:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#fff;
	padding:15px 25px 15px 40px; 
	font-size:14px; 
	z-index:150;
}

.popup li{
	padding:3px 0;
}

.close{
	border:none;
	position:absolute;
	top:5px;
	right:5px;
}

#loading_image{
	top:50%; 
	right:50%;
	background:#000;
	text-align:center;
}

#welcome_screen{

	top:50%; 
	right:50%;
	background:#000;
	text-align:center;
	
}

#tooltip {
display:none;
visibility:hidden;
	background-color:#ffffff;
	font-weight:bold;
	border:1px #999999 solid;
}


#dragtext{

	top:10px;
	right:50%;
	width:250px;
}

#endpointtext{
display:none;
visibility:hidden;
	top:10px;
	right:50%;
	width:250px;
}

/* Profile */

#profile{
	margin-left:0px;
	position:relative;
	border-top: solid 1px #999999;
	border-left: solid 1px #999999;
	height:190px;
	clear:both;
	z-index:30;
	padding-bottom:15px;
	float:left;
	
}

#profileIntro{
	font-size:14px;
	text-align:center;
	color:#333;
	font-weight:bold;
	margin-top:20px;
}


#hideProfile{
display:none;
	border:none;
	z-index:40;
	position:absolute;
	left:298px;
	bottom:183px;
	cursor:pointer;
}

#showProfile{
	position:absolute;
	bottom:0;
	left:0;
	border-top: solid 1px #999999;
	border-right: solid 1px #999999;
	display:none;
	background:white;
}

#bottomCredits{
display:none;
visibility:hidden;
	position:absolute;
	bottom:0;
	right:0;
	padding:2px 10px 0 2px;
	font-size:12px;
	background:#eee;
	border:1px solid #999;
	border-bottom:0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	z-index:40;
}


#bottomCredits a:hover{
display:none;
visibility:hidden;
	text-decoration:underline;
}

/* simple css-based tooltip */ 
div.tooltip { 
display:none;
visibility:hidden;
    background:#000 url(../images/tip.png) 10px 50% no-repeat;
    border:1px solid #fff; 
    padding:6px 10px 10px 40px; 
    width:200px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:14px; 
	line-height:18px;
	z-index:150;
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}

#ie6msg{
	display:none;
	width:800px;
	margin:10px auto;
}
#ie6msg a{
	text-decoration:underline;
}