body{
font-family:helvetica, arial, sans-serif;
margin:0;
color: #666;
}

a:link, a:visited{
text-decoration:none;
color: #666;
}

a:hover{
	text-decoration:none;
	border-bottom:#999 dotted 1px;
}

a img{
	border:none;
}

h1.logo {
width: 166px;
height:75px;
text-indent:-9009px;
background:url(../images/bike-mapper-logo-small.png) 0 0 no-repeat;
margin:3px 0 0 3px;
}

h1.logo a{
	display:block;
	width: 166px;
	height:75px;
}

#header .logo img {
	border:0;
}

ul.input_boxes{
	padding:0;
	margin:0;
	position:relative;
}

ul.input_boxes li{
	list-style-type:none;
	padding:4px 0;
	margin:0;
	font-weight:bold;
	clear:both;
}

ul.input_boxes li.inputbox{
	float:left;
	width:245px;
}

ul.input_boxes li.geolocation{
	display:none;
	font-size:12px; 
	font-weight:normal;
	padding:0 0 0 29px;
}

ul.input_boxes li.geolocation img{
	vertical-align:middle;
}

ul.input_boxes li.geolocation a{
	color: red;
	padding-left:5px;
}

ul.input_boxes li .textbox{
	width: 220px;
	margin:0;
	float:left;
}

ul.input_boxes li .hills{
	float:left;
	width:200px;
	padding-top:3px;
}


#swap{
	cursor:pointer;
	position:absolute;
	top:15px;
	right:5px;
}

#content{
	position:relative;
	overflow:hidden;
}

#sidebar{
	position:absolute;
	width:300px;
}

#sidebar #inputs{
	padding-left:5px;
	border-top: solid 5px #999999;
}

#submit{
	float:right;
	margin-right:5px;
	margin-bottom:5px;
}

#sidebar #stats{
	padding:3px 5px;
	font-size:14px;
	clear:both;
	border-top: solid 5px #999999;
}

#sidebar #stats .title {
	font-weight:bold;
	color: #000;
}

#sidebar #stats div{
	margin-top:3px;
}

#sidebar #stats a{
	color:#666;
}

#sidebar #stats img{
	border:none;
	height:12px;
	width:12px;
}

#directions{
	padding:0 5px;
	font-size:11px;
	overflow:auto;
	border-top: solid 5px #999999;
	display:none;
}

#directions ol{
	list-style-type:decimal;
	margin-top:0;
}

#directions li{
	padding:5px 0;
	border-bottom:1px solid #ddd;
	margin-left:-20px;
	padding-left:-20px;
	cursor:pointer;
}

/* MAP */

#map_wrapper{
	clear:both;
	border-left: solid 5px #999999;
	margin-left:300px;
	color:#000;
	font-size:11px;
	position:relative;
}

#map_wrapper a:hover{
	border:none;
}

.map-button{
	color:#0000cc;
	text-align:center;
	background-color:#FFF;
	font:"small Arial";
	border:1px solid #000;
	margin:3px;
}

.map-button img{
	vertical-align:top;
}

.map-button a{
	color:#000;
	display:block;
	padding:2px;
}

#permalink{
	position:absolute;
	top:30px;
	right:85px;
	width:11em;
	display:none;
}

#twitter{
	position:absolute;
	top:30px;
	right:5px;
	width:7em;
	display:none;
}

#map_canvas{
min-height:500px;
}

#map_canvas .message {
	font-size:14px;
}

#map_canvas a {
	color:#5b5b68;
	text-decoration:none;
}

#map_canvas a {
	text-decoration:underline;
}

.popup{
	position:absolute; 
	display:none;
	width:200px;
	border:1px solid #fff;
	background:#000 url(../images/tip.png) 10px 50% no-repeat;
	filter:alpha(opacity=70);   /* Internet Explorer       */
   	-moz-opacity:0.7;           /* Mozilla 1.6 and below   */
   	opacity: 0.7;               /* newer Mozilla and CSS-3 */
 	text-align:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#fff;
	padding:15px 15px 15px 40px; 
	font-size:12px; 
	z-index:150;
}

.close{
	border:none;
	position:absolute;
	top:5px;
	right:5px;
}

a#hideProfile:hover{
	border:none;
}

#showProfile{
	position:absolute;
	bottom:0;
	left:0;
	border-top: solid 5px #999999;
	border-right: solid 5px #999999;
	display:none;
	background:white;
}

#loading_image{
	top:50%; 
	right:50%;
	background:#000;
	text-align:center;
}


#dragtext{
	top:10px;
	right:50%;
	width:250px;
}

/* Profile */

#profile{
	margin-left:300px;
	position:relative;
	border-top: solid 5px #999999;
	border-left: solid 5px #999999;
	border-style:solid 1px #999999;
	height:190px;
	clear:both;
	z-index:30;
}

#bottomCredits{
	position:absolute;
	bottom:0;
	right:0;
	padding:2px 10px 0 2px;
	font-size:12px;
	background:#e1e1e1;
	border:1px solid #a1a1a1;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	z-index:40;
}


/* simple css-based tooltip */ 
div.tooltip { 
    background:#000 url(../images/tip.png) 10px 50% no-repeat;
    border:1px solid #fff; 
    padding:15px 15px 15px 40px; 
    width:200px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:12px; 
	z-index:150;
 	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    /* outline radius for mozilla/firefox only */ 
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}

