body{
font-family:Arimo, helvetica, arial, sans-serif;
margin:0;
color: #666;
}

a:link, a:visited{
text-decoration:none;
color: #666;
}

a:hover{
	text-decoration:none;
	border-bottom:#999 dotted 1px;
}

a img{
	border:none;
}

#logo{
  position:absolute;
	top:0px;
	left:85px;
	width:120px;
	height:80px;
	background:#333333;
	text-align:center;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-box-shadow:0px 0px 5px #000; 
  -webkit-box-shadow:0px 0px 5px #000;
  box-shadow:0px 0px 5px #000; 
  z-index:100;
}

#logo h1 {
text-indent:-9009px;
margin:0;
padding:0;
height:10px;
}

#logo img {
	border:0;
}

ul.input_boxes{
	padding:0;
	margin:0;
	position:relative;
	font-size:12px;
}

ul.input_boxes li{
	list-style-type:none;
	padding:4px 0;
	margin:0;
	font-weight:bold;
	clear:both;
}

ul.input_boxes li.inputbox{
	width:245px;
	padding:0;
	position:relative;
}

ul.input_boxes li.geolocation{
	display:none;
	font-size:12px; 
	font-weight:normal;
	padding:0 0 0 29px;
}

ul.input_boxes li.geolocation img{
	vertical-align:middle;
}

ul.input_boxes li.geolocation a{
	color: red;
	padding-left:2px;
}

.geolocationwaiting{
  background: url(../images/loading.gif) 0 0 no-repeat;
  width:16px;
  height:16px;
  position:absolute;
  left:26px;
  top:3px;
  display:none;
}

ul.input_boxes li .textbox{
	width: 210px;
	margin:0;
}

ul.input_boxes #hillsline{
	padding-top:3px;
}

ul.input_boxes #hillsline label{
	width:100px;
	float:left;
	padding-top:3px;
	font-size:13px;
}

ul.input_boxes #hillsline select{
	float:right;
	width:150px;
	margin-right:2px;
}

.error{
  border-color:#b22828;
  background-color:#ffd5d5;
}

.icon{
	height:24px;
	width:24px;
	vertical-align:middle;
}


#swap{
	cursor:pointer;
	position:absolute;
	top:15px;
	right:5px;
}

#content{
	position:relative;
	overflow:hidden;
}

#sidebar{
	position:absolute;
	left:0;
	width:300px;
}

#sidebar-top{
  padding-top:10px;
}

#sidebar #inputs{
	padding-left:5px;
}

#submit{
	margin-right:5px;
	margin-bottom:5px;
}

#summary{
	padding:0 6px;
	overflow:hidden;
	display:none;
	height:110px;
}

#summary div{
	border:1px solid #ccc;
	cursor:pointer;
	overflow:hidden;
}

#summary0{
  background-color:#ed817e;
}

#summary1{
  background-color:#ecf869;
}

#summary2{
  background-color:#90ff7a;
}

#summary .title{
	padding:5px;
	border:none;
	margin:0;
	width:150px;
	float:left;
	font-weight:bold;
}

#summary .info{
	padding:3px;
	border:none;
	margin:0;
	width:100px;
	float:right;
	text-align:right;
	font-size:11px;
}

#sidebar #resultsBox{
	padding:3px 5px;
	margin:10px;
	font-size:14px;
	clear:both;
	border: 1px #999 solid;
-moz-box-shadow:3px 3px 8px #999; 
-webkit-box-shadow:3px 3px 8px #999;
	display:none;
	overflow:auto;
}

#sidebar .stats{
	clear:both;
}

#sidebar .stats .title {
	font-weight:bold;
	color: #000;
}

#sidebar .stats div{
	margin-top:3px;
}

#sidebar .stats a{
	color:#666;
}

#sidebar .stats img{
	border:none;
	height:12px;
	width:12px;
}

#directions{
	padding:5px 5px 0 5px;
	font-size:11px;
	overflow:auto;
}

#directions ol{
	list-style-type:decimal;
	margin-top:0;
}

#directions li{
	padding:5px 0;
	border-bottom:1px solid #ddd;
	margin-left:-20px;
	padding-left:-20px;
	cursor:pointer;
}

#directions li:last-of-type{
	border-bottom:none;
}

#disclaimer{
	padding:0 5px 10px 5px;
	font-size:10px;
}

/* MAP */

#map_wrapper{
	clear:both;
	border-left: solid 1px #999999;
	margin-left:300px;
	color:#000;
	font-size:11px;
	position:relative;
}

#map_wrapper a:hover{
	border:none;
}

#map-buttons{
  position:absolute;
	top:5px;
	right:160px;
}

.map-button{
	overflow-x: hidden; 
	overflow-y: hidden; 
	text-align: center; 
	-webkit-user-select: none; 
	font-size: 12px; 
	line-height: 160%; 
	padding: 0px 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
	box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
	min-width: 47px; 
	color: black; 
	border-width: 1px;
	border-style: solid;
	border-color: rgb(169, 187, 223);
	border-radius: 2px 2px;
	font-weight: normal; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(254, 254, 254)), to(rgb(243, 243, 243))); 
	background-attachment: initial; 
	background-origin: initial; 
	background-clip: initial; 
	background-color: initial; 
	background-position: initial initial; 
	background-repeat: initial initial;
	display:inline-block;
}

.map-button a{
	display:block;
	color:#000;
}

#map_canvas{
min-height:500px;
}

#map_canvas .message {
	font-size:14px;
}

#map_canvas a {
	color:#5b5b68;
	text-decoration:none;
}

#map_canvas a {
	text-decoration:underline;
}

.popup{
	position:absolute; 
	display:none;
	width:240px;
	border:2px solid #fff;
	background:#000 url(../images/tip.png) 10px 50% no-repeat;
	filter:alpha(opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
 	text-align:left;
 	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#fff;
	padding:15px 25px 15px 40px; 
	font-size:14px; 
	z-index:150;
	-moz-box-shadow: 5px 5px 10px #333;
  -webkit-box-shadow: 5px 5px 10px #333;
  box-shadow: 5px 5px 10px #333;
}

.popup li{
	padding:3px 0;
}

.close{
	border:none;
	position:absolute;
	top:5px;
	right:5px;
}

#loading_image{
	top:50%; 
	right:50%;
	background:#000;
	text-align:center;
}

#welcome_screen{
	top:50%; 
	right:50%;
	background:#333;
	filter:alpha(opacity=100);
  -moz-opacity:1;
  opacity: 1;
	text-align:center;
	padding:15px;
  font-size:16px;
  line-height:20px;
	width:380px;
}

#tooltip {
	background-color:#ffffff;
	font-weight:bold;
	border:1px #999999 solid;
}


#dragtext{
	top:150px;
	right:50%;
	width:250px;
}

#endpointtext{
	top:10px;
	right:50%;
	width:250px;
}

/* Profile */

#profile{
	margin-left:300px;
	position:relative;
	border-top: solid 1px #999999;
	border-left: solid 1px #999999;
	height:190px;
	clear:both;
	z-index:30;
	padding-bottom:15px;
}

#profileIntro{
	font-size:14px;
	text-align:center;
	color:#333;
	font-weight:bold;
	margin-top:20px;
}


#hideProfile{
	border:none;
	z-index:40;
	position:absolute;
	left:299px;
	bottom:180px;
	cursor:pointer;
}

#showProfile{
	position:absolute;
	bottom:0;
	left:0;
	border-top: solid 1px #999999;
	border-right: solid 1px #999999;
	display:none;
	background:white;
}

#bottomCredits{
	position:absolute;
	bottom:0;
	right:0;
	color:#FFF;
	padding:2px 10px 0 2px;
	font-size:12px;
	background:#333;
	height:13px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	z-index:40;
}
#bottomCredits a{
  color:#FFF;
}

#bottomCredits a:hover{
	text-decoration:underline;
}

/* simple css-based tooltip */ 
div.tooltip { 
  background:#333 url(../images/tip.png) 10px 50% no-repeat;
  background-color:rgba(30,30,30,.7);
  padding:6px 10px 10px 40px; 
  width:200px; 
  display:none; 
  color:#fff; 
  text-align:left; 
  font-size:14px; 
  line-height:18px;
  z-index:150;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow:0 0 10px #000; 
  -webkit-box-shadow:0 0 10px #000; 
}

#ie6msg{
	display:none;
	width:800px;
	margin:10px auto;
}
#ie6msg a{
	text-decoration:underline;
}