.map-container {
  position: relative;
  padding-top: 37px;

  .logo {
    display: none;
  }
}

@media only screen and (min-width: 667px) {
  .map-container {
    margin-left: 300px;
    padding-top: 0;

    .map {
      min-height: 400px;
    }

    .logo {
      display: block;
      position: absolute;
      top: 0;
      left: 52px;
      width: 125px;
      height: 50px;
      z-index: 10;
      background: $white;
    }
  }
}
