.titlebar {
  height: 37px;
  background-color: #333;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 10;

  .site-title {
    font-size: 14px;
    margin: 0;
    line-height: 35px;
    padding-left: 10px;

    .logo {
      height: 30px;
    }

    .titlebar-text {
      padding-left: 6px;
    }
  }

  .btn-left {
    position: absolute;
    left: 0;
    top: 0;
    margin: 3px 5px;
  }

  .btn-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px 5px;
  }

  .btn-white {
    background: $white;
  }
}

@media only screen and (min-width: 667px) {
  .titlebar {
    display: none;
  }
}
