# Regional Configuration, see src/appConfig/README.md:
NEXT_PUBLIC_REGION=sf

# Secrets:
AIRNOW_API_KEY=YOUR-AIRNOW-API-KEY
OPEN_WEATHER_MAP_API_KEY=YOUR-OPEN-WEATHER-MAP-API-KEY
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR-GOOGLE-MAPS-API-KEY
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=YOUR-MAPBOX-API-TOKEN

# Public GA4 ID
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-S9DP8E6902
# Enable in production builds only after disabling GA4 Enhanced Measurement.
NEXT_PUBLIC_GOOGLE_ANALYTICS_ENABLED=false
